<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<html>
   <head>
     <meta charset="UTF-8">
     <title>HoneyKhutorok</title>
	 <link href="styles.css" rel="stylesheet" type="text/css"/>
	 <link href="https://fonts.googleapis.com/css?family=PT+Serif|Pacifico&amp;subset=cyrillic" rel="stylesheet">
	 <link rel="shortcut icon" href="images/icon.png" type="images/png">
   </head>
   <body>
      <header>
       <div class="logo">
          <a href="home" class="graficlogo">Медовый  Хуторок</a>
	   </div>  
	   <nav>
	      <div class="topnav">
			  <form>
				  <a href="home">
					  Главная
				  </a>
				  <a href="about">
					  О нас
				  </a>
				  <a href="design">
					  Товары
				  </a>
				  <a href="orders">
					  Ваш заказ
				  </a>
				  <a href="contacts">
					  Контакты
				  </a>
			  </form>
		  </div>
	   </nav>
	  </header>
   </body>
	  <main>
        <br/>
		<div class = "conteiner-1">
		   <div  class="text-main">
		      <h3>Обратная связь</h3>
			  <p> Связаться с нами можно по телефону: +7 916 091 08 00
			  <br/>
			  Или же написать на почту: Sasha2294@mail.ru
			  </p>
		   </div>
		  </div>
	  </main>

</html>
