<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<html>
   <head>
     <meta charset="UTF-8">
     <title>HoneyKhutorok</title>
	   <link href="styles.css" rel="stylesheet" type="text/css"/>
	   <link href="https://fonts.googleapis.com/css?family=PT+Serif|Pacifico&amp;subset=cyrillic" rel="stylesheet">
	   <link rel="shortcut icon" href="images/icon.png" type="images/png">
   </head>
   <body>
      <header>
       <div class="logo">
          <a href="honey" class="graficlogo">Медовый  Хуторок</a>
	   </div>  
	   <nav>
	      <div class="topnav">
			  <form>
				  <a href="home">
					  Главная
				  </a>
				  <a href="about">
					  О нас
				  </a>
				  <a href="design">
					  Товары
				  </a>
				  <a href="orders">
					  Ваш заказ
				  </a>
				  <a href="contacts">
					  Контакты
				  </a>
			  </form>
		  </div>
	   </nav>
	  </header>
        <main>
		   <br/>
		 <div class = "conteiner-1">
		   <div  class="box-1">
		      <h3>Box 1</h3>
			  <p> Добрый день, дамы и господа, 
			  вашему вниманию
			  </p>
		   </div>
		    <div  class="text-main">
		      <h3>Мёд как лекарство</h3>
			    <p> Уже многие тысячелетия мёд славится своими лечебными
				свойствами. Примером могут послужить египетский трактат
				"О приготовлении лекарств для всех частей тела", в рецептах которого
				активно используется мед или же книга "Алимма"(мази в переводе
				с древнерусского), написанная первой
				русской женщиной-врачевательницей Евпраксиньей, мази на основе меда
				обладали антивоспалительными свойствами и улучшали кожу лица. Конечно
				же есть и другие примеры, но главное, что мёд не потерял своих
				удивительных свойств и по сей день. Он широко используется в народых средствах,
				 а также полностью признан официальной медициной во всех странах мира.<strong>
				 Мёд обладает общеукрепляющим, тонизирующим, антитоксическим, противовоспалительным
				  и седативными свойствами</strong>.
				    <br/>
					<img th:src="@{images/chelovek.png}"/>

				  <br/>
				  Мёд насыщен витаминами, органическими кислотами, минеральными солями и
				  микроэлементами, показан всем здоровым людям, находящимся или находившимся в экстремальных
				  ситуациях, в условиях высоких психоэмоциональных и физических нагрузок.
				  Он входит в пищевой рацион спортсменов, повышая выносливость и силу. <strong>
				  Особенно мёд показан детям и подросткам в период усиленного роста, а также женщинами
				  во время беременности и лактации.</strong>
			  </p>
			  </div>
		   </div>
		</main>
   </body>
</html>
